<% include ../partials/header%>

    <h1 style="text-align: center; margin-top:60px">Create new campground</h1>

    <div class="form-box">
        <form action="/campgrounds/<%= campground._id %>/edit?_method=PUT" method="POST">
          <div>
              <input type="text" name="campground[title]" placeholder="Name" value="<%= campground.title %>" required>
          </div>
          <div>
              <input type="text" name="campground[image]" placeholder="image" value="<%= campground.image %>" required>
          </div>
          <div>
              <input type="text" name="campground[price]" placeholder="price" value="<%= campground.price %>" required>
          </div>
          <div>
              <input type="text" name="campground[description]" value="<%= campground.description %>" placeholder="Description" required>
          </div>
          <div>
            <input type="submit" value="Save Changes" class="btn btn-lg btn-primary">
          </div>
        </form>
    </div>

    <% include ../partials/footer%>